<h1>I've summarized your studies for you...</h1>

<hr>
<div class="row">
  <div class="col-sm-3">
    <h3>Credits:</h3>
    <h3>Subjects:</h3>
  </div>
  <div class="col-sm-3">
    <h3>30</h3>
    <h3>2.0</h3>
  </div>
  <div class="col-sm-4">
    <h3>Estimated graduation grade:</h3>
  </div>
  <div class="col-sm-2">
    <h3>2.0</h3>
  </div>
</div>
<hr>

<div class="panel-group">
  <div class="panel panel-default" id="panel-basic">
    <div class="panel-heading" id="panel-heading-basic" >
      <div class="row panel-heading-row row-eq-height">
        <div class="col-md-3">
          <a class="panel-title" data-toggle="collapse" href="#collapse-basic"> Basic </a>
        </div>
        <div class="col-md-5 panel-grid-center">
          <div class="progress">
            <div class="progress-bar" id="progress-basic" role="progressbar" aria-valuenow="18"
              aria-valuemin="0" aria-valuemax="24" style="width:75%">
              <p class="progress-label">18 / 24</p>
            </div>
          </div>
        </div>
        <div class="col-md-1 panel-grid-center"></div>
        <div class="col-md-1 panel-grid-center">
          <p class="panel-grade">2.0</p>
        </div>
        <div class="col-md-1 panel-grid-center"></div>
        <div class="col-md-1">
          <button class="btn btn-block panel-btn">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        </div>
      </div>
    </div>
    <div id="collapse-basic" class="panel-collapse collapse in">
      <div class="panel-body">
        <div class="row row-eq-height course-row">
          <div class="col-md-3 panel-grid-vertical-center">
            <a href="#" class="panel-course-name panel-course-text">Introduction to Psychological Methods and Statistics for Non-Psychologists</a>
          </div>
          <div class="col-md-5 panel-grid-center">
            <p class="panel-course-topic panel-course-text"></p>
          </div>
          <div class="col-md-1 panel-grid-center">
            <p class="panel-course-ects panel-course-text">6</p>
          </div>
          <div class="col-md-1 panel-grid-center">
            <p class="panel-course-grade panel-course-text">2.0</p>
          </div>
          <div class="col-md-1 panel-grid-center">
            <button class="btn btn-block panel-btn">
              <span class="glyphicon glyphicon-ok"></span>
            </button>
          </div>
        </div>
        <div class="row row-eq-height course-row">
          <div class="col-md-12">
            <hr>
          </div>
        </div>
        <div class="row row-eq-height course-row">
          <div class="col-md-3 panel-grid-vertical-center">
            <a href="#" class="panel-course-name panel-course-text">Foundations and Concepts of Cognitive Systems Modeling</a>
          </div>
          <div class="col-md-5 panel-grid-center">
            <p class="panel-course-topic panel-course-text"></p>
          </div>
          <div class="col-md-1 panel-grid-center">
            <p class="panel-course-ects panel-course-text">6</p>
          </div>
          <div class="col-md-1 panel-grid-center">
            <p class="panel-course-grade panel-course-text">2.0</p>
          </div>
          <div class="col-md-1 panel-grid-center">
            <button class="btn btn-block panel-btn">
              <span class="glyphicon glyphicon-ok"></span>
            </button>
          </div>
        </div>
        <div class="row row-eq-height course-row">
          <div class="col-md-12">
            <hr>
          </div>
        </div>
        <div class="row row-eq-height course-row">
          <div class="col-md-3 panel-grid-vertical-center">
            <a href="#" class="panel-course-name panel-course-text">Fundamentals of Human-Machine Interaction</a>
          </div>
          <div class="col-md-5 panel-grid-center">
            <p class="panel-course-topic panel-course-text"></p>
          </div>
          <div class="col-md-1 panel-grid-center">
            <p class="panel-course-ects panel-course-text">6</p>
          </div>
          <div class="col-md-1 panel-grid-center">
            <p class="panel-course-grade panel-course-text">2.0</p>
          </div>
          <div class="col-md-1 panel-grid-center">
            <button class="btn btn-block panel-btn">
              <span class="glyphicon glyphicon-ok"></span>
            </button>
          </div>
        </div>
        <div class="row row-eq-height course-row">
          <div class="col-md-12">
            <hr>
          </div>
        </div>
        <div class="row row-eq-height course-row">
          <div class="col-md-3 panel-grid-vertical-center">
            <a href="#" class="panel-course-name panel-course-text">Fundamental Approaches to Cognitive Science</a>
          </div>
          <div class="col-md-5 panel-grid-center">
            <p class="panel-course-topic panel-course-text"></p>
          </div>
          <div class="col-md-1 panel-grid-center">
            <p class="panel-course-ects panel-course-text">6</p>
          </div>
          <div class="col-md-1 panel-grid-center">
            <p class="panel-course-grade panel-course-text">-</p>
          </div>
          <div class="col-md-1 panel-grid-center">
            <button class="btn btn-block panel-btn">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default" id="panel-inter">
    <div class="panel-heading" id="panel-heading-inter" >
      <div class="row panel-heading-row row-eq-height">
        <div class="col-md-3">
          <a class="panel-title" data-toggle="collapse" href="#collapse-inter"> Interdisciplinary </a>
        </div>
        <div class="col-md-5 panel-grid-center">
          <div class="progress">
            <div class="progress-bar" id="progress-inter" role="progressbar" aria-valuenow="18"
              aria-valuemin="0" aria-valuemax="24" style="width:66%">
              <p class="progress-label">12 / 18</p>
            </div>
          </div>
        </div>
        <div class="col-md-1 panel-grid-center"></div>
        <div class="col-md-1 panel-grid-center">
          <p class="panel-grade">2.0</p>
        </div>
        <div class="col-md-1 panel-grid-center"></div>
        <div class="col-md-1">
          <button class="btn btn-block panel-btn">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        </div>
      </div>
    </div>
    <div id="collapse-inter" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="row row-eq-height course-row">
          <div class="col-md-3 panel-grid-vertical-center">
            <a href="#" class="panel-course-name panel-course-text">Cognitive Systems I</a>
          </div>
          <div class="col-md-5 panel-grid-center">
            <p class="panel-course-topic panel-course-text"></p>
          </div>
          <div class="col-md-1 panel-grid-center">
            <p class="panel-course-ects panel-course-text">6</p>
          </div>
          <div class="col-md-1 panel-grid-center">
            <p class="panel-course-grade panel-course-text">2.0</p>
          </div>
          <div class="col-md-1 panel-grid-center">
            <button class="btn btn-block panel-btn">
              <span class="glyphicon glyphicon-ok"></span>
            </button>
          </div>
        </div>
        <div class="row row-eq-height course-row">
          <div class="col-md-12">
            <hr>
          </div>
        </div>
        <div class="row row-eq-height course-row">
          <div class="col-md-3 panel-grid-vertical-center">
            <a href="#" class="panel-course-name panel-course-text">Cognitive Systems II</a>
          </div>
          <div class="col-md-5 panel-grid-center">
            <p class="panel-course-topic panel-course-text"></p>
          </div>
          <div class="col-md-1 panel-grid-center">
            <p class="panel-course-ects panel-course-text">6</p>
          </div>
          <div class="col-md-1 panel-grid-center">
            <p class="panel-course-grade panel-course-text">2.0</p>
          </div>
          <div class="col-md-1 panel-grid-center">
            <button class="btn btn-block panel-btn">
              <span class="glyphicon glyphicon-ok"></span>
            </button>
          </div>
        </div>
        <div class="row row-eq-height course-row">
          <div class="col-md-12">
            <hr>
          </div>
        </div>
        <div class="row row-eq-height course-row">
          <div class="col-md-3 panel-grid-vertical-center">
            <a href="#" class="panel-course-name panel-course-text">Colloquium Recent Developments in Cognitive Systems Research</a>
          </div>
          <div class="col-md-5 panel-grid-center">
            <p class="panel-course-topic panel-course-text"></p>
          </div>
          <div class="col-md-1 panel-grid-center">
            <p class="panel-course-ects panel-course-text">6</p>
          </div>
          <div class="col-md-1 panel-grid-center">
            <p class="panel-course-grade panel-course-text">2.0</p>
          </div>
          <div class="col-md-1 panel-grid-center">
            <button class="btn btn-block panel-btn">
              <span class="glyphicon glyphicon-ok"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default" id="panel-specl">
    <div class="panel-heading" id="panel-heading-specl" >
      <div class="row panel-heading-row row-eq-height">
        <div class="col-md-3">
          <a class="panel-title" data-toggle="collapse" href="#collapse-specl"> Special </a>
        </div>
        <div class="col-md-5 panel-grid-center">
          <div class="progress">
            <div class="progress-bar" id="progress-specl" role="progressbar" aria-valuenow="18"
              aria-valuemin="0" aria-valuemax="24" style="width:0%">
              <p class="progress-label">0 / 24</p>s
            </div>
          </div>
        </div>
        <div class="col-md-1 panel-grid-center"></div>
        <div class="col-md-1 panel-grid-center">
          <p class="panel-grade">-</p>
        </div>
        <div class="col-md-1 panel-grid-center"></div>
        <div class="col-md-1">
          <button class="btn btn-block panel-btn">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        </div>
      </div>
    </div>
    <div id="collapse-specl" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="row row-eq-height course-row">
          <div class="col-md-3 panel-grid-center">
            <p>Press &nbsp; <span class="glyphicon glyphicon-plus"></span>&nbsp; to add a course.</p> 
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default" id="panel-apply">
    <div class="panel-heading" id="panel-heading-apply" >
      <div class="row panel-heading-row row-eq-height">
        <div class="col-md-3">
          <a class="panel-title" data-toggle="collapse" href="#collapse-apply"> Applied </a>
        </div>
        <div class="col-md-5 panel-grid-center">
          <div class="progress">
            <div class="progress-bar" id="progress-apply" role="progressbar" aria-valuenow="18"
              aria-valuemin="0" aria-valuemax="24" style="width:0%">
              <p class="progress-label">0 / 24</p>s
            </div>
          </div>
        </div>
        <div class="col-md-1 panel-grid-center"></div>
        <div class="col-md-1 panel-grid-center">
          <p class="panel-grade">-</p>
        </div>
        <div class="col-md-1 panel-grid-center"></div>
        <div class="col-md-1">
          <button class="btn btn-block panel-btn">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        </div>
      </div>
    </div>
    <div id="collapse-apply" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="row row-eq-height course-row">
          <div class="col-md-3 panel-grid-center">
            <p>Press &nbsp; <span class="glyphicon glyphicon-plus"></span>&nbsp; to add a course.</p> 
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default" id="panel-thesis">
    <div class="panel-heading" id="panel-heading-thesis" >
      <div class="row panel-heading-row row-eq-height">
        <div class="col-md-3">
          <p class="panel-title"> Thesis </p>
        </div>
        <div class="col-md-5 panel-grid-center">
          <input type="text" class="form-control hidden" id="thesis-title" placeholder="Add title...">
        </div>
        <div class="col-md-1 panel-grid-center"></div>
        <div class="col-md-1 panel-grid-center">
          <p class="panel-grade">-</p>
        </div>
        <div class="col-md-1 panel-grid-center">
          <button class="btn btn-block panel-btn">
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
        </div>
        <div class="col-md-1 panel-grid-center"></div>
      </div>
    </div>
  </div>
</div> 