/* You can add global styles to this file, and also import other style files */
body {
  font-family: Abel, Monaco, monospace;
  margin-top: 60px;
}
a {
  color: #889FAD;
  outline: 0;
}
a:hover, a:focus, a:active {
  color: #556C7A;
}